  *{font: Arial, Helvetica, sans-serif;}
    

body{
    margin: 40px;
}
main{
    margin: 30px;
    padding: 20px;
    background-color: wheat;
    border-left: 5px dotted brown;
    border-radius: 10px;
}
.milestone {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.milestone img{
    height: auto;
    width: 60%;
    border-radius: 15px;
    box-shadow:  20px;
    transition: transform 0.5s ease, filter 0.5s ease;
}
.milestone img:hover{
    transform: scale(1.1) translateY(-10px);
    filter: brightness(1.1);
}